@use "../base/scope";
@use "../tokens" as *;
@include scope.within {
  .thanks {
    width: var(--container-width);
    min-height: 500px;
    margin-inline: auto;
    border: 1px solid var(--line);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;
    padding: clamp(50px,8vw,120px)
  }
}
